- if user_signed_in?   
  - if current_user.already_liked?(post)
    = link_to post_like_path(post,id:post.id), method: :delete,remote: true do
      = fa_icon "far star",class:'star-yellow'
  - else
    = link_to post_likes_path(post),method: :post,remote: true do
      = fa_icon "far star",class:'star-gray'
- else
  = fa_icon "star",class:'star-gray'

= post.likes.count

