-# 記事一覧

- @posts.each do |post|
  = link_to post_path(post.id) do
    .main__inner__contents
      = render 'posts/post-category',post: post
          
      .main__inner__contents__post   
        .main__inner__contents__post__info
          .main__inner__contents__post__info__text
            = simple_format(post.text.truncate(340) )
            
          .main__inner__contents__post__info__user
            .main__inner__contents__post__info__user__name
              = link_to user_path(post.user_id), class: 'link-btn' do
                = post.user.name
            .main__inner__contents__post__info__user__menu
              - if user_signed_in?
                - if post.user.id == current_user.id
                  = link_to edit_post_path(post.id) do
                    = fa_icon "edit", class:'post-menu'
                    編集
                  = link_to post_path(post.id), method: :delete do
                    = fa_icon "trash",class: 'post-menu--gry'
                    %span.post-menu--gry-text 
                      削除

              .likes{id: "like-#{post.id}"}
                = render partial: "likes/like", locals: { post: post }
                
        .main__inner__contents__post__image
          -if post.image.present?
            =link_to post_path(post.id) do
              = image_tag post.image.url, class: 'post-image'
            


