.new-wrapper
  .new-wrapper__header
    = link_to root_path, class:'new-wrapper__header__title' do
      = image_tag 'logo.png', alt: 'タイトルロゴ', class: 'new-wrapper__header__title__logo'
  
  .new-wrapper__main
    .new-wrapper__main__description
      投稿画面
    = form_for (@post) do |f|

      .new-wrapper__main__post-category
        %p.new-wrapper__main__input-title 記事のカテゴリ
        = f.collection_select :post_category_id, PostCategory.all,:id,:name,{class: 'select-box'}
      .new-wrapper__main__post-image
        %p.new-wrapper__main__input-title 画像（任意）
        = f.file_field :image, url:@post.image.url,class:"file",id: "file"

      .new-wrapper__main__post-text
        %p.new-wrapper__main__input-title コメント（必須）
        = f.text_area :text, class:'post-text__input'

        = f.submit "編集する", class: 'new-wrapper__main__submit'